* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.container {
    font-size: 24px;
}

.header {
    background: yellow;
    height: 100px;
}

.left {
    background: rgb(238, 79, 79);
    height: calc(100vh - 200px);
    width: 20%;
    float: left;
}

.main {
    background: pink;
    width: 60%;
    height: calc(100vh - 200px);
    float: left;
    border: 1px solid black;
}

.right {
    background: rgb(0, 200, 255);
    height: calc(100vh - 200px);
    width: 20%;
    float: left;
}

.footer {
    background: rgb(123, 68, 112);
    height: 100px;
    clear: both;
}

ul {
    list-style-type: none;
    left: 0;
}

.left .navbar li {
    color: rgb(255, 255, 159);
    width: 100%;
    padding: 15px 0px;
}

.left .navbar li:hover {
    background: rgb(181, 181, 181);
}

.header, .main, .right, .footer {
    display: flex;
    align-items: center;
    justify-content: center;
}
